
        <img src={{image}} alt="" data-hero-name="{{name}}" />
        <h2>{{name}}</h2>
        <span class="health">{{health}}</span>



        <img src={{image}} alt="" data-villain-name="{{name}}" />
        <h2>{{name}}</h2>
        <span class="health">{{health}}</span>
