{{#each heroes}}
<div class="hero-info">
        <img src={{image}} alt="{{name}}" data-hero-name="{{name}}" />
        <h2>{{name}}</h2>
        <span class="health">{{health}}</span>
</div>
{{/each}}

{{#each villains}}
<div class="villain-info">
        <img src={{image}} alt="{{name}}" data-villain-name="{{name}}" />
        <h2>{{name}}</h2>
        <span class="health">{{health}}</span>
</div>
{{/each}}
