{{#each heroes}}
        <img src={{image}} alt="" data-hero-name="{{name}}" />
        <h2>{{name}}</h2>
        <span class="health">{{health}}</span>
{{/each}}

{{#each villains}}
        <img src={{image}} alt="" data-villain-name="{{name}}" />
        <h2>{{name}}</h2>
        <span class="health">{{health}}</span>
{{/each}}
