{{#each heroes}}
<div class="col-md-4 hero-info">
        <h2>{{name}}</h2>
        <img src={{image}}  data-hero-name="{{name}}" />
</div>
{{/each}}

<!-- {{#each villains}}
<div class="villain-info">
        <img src={{image}}  data-villain-name="{{name}}" />
        <h2>{{name}}</h2>
</div>
{{/each}} -->
